<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="about_card">
    <div class="about">
    <h1><b>About</b></h1>
    <div class="about_head"><h2>Wellcome To Royal Riders</h2></div>
    <p>Royal Riders India is an online community magazine that specifically engages and unites two-wheeler owners and fans across India. It publishes news, routes, clubs, events and special offers to all its readers. Community is key focus, bringing those who are passionate about two-wheelers together on one platform. </p>
  </div></div>