<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>Members List</h1>
<div style="overflow-x:auto;">
<table style="text-align: center;">
    <tr>
        <th>Members Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email Id</th>
        <th>City</th>
        <th>Contact</th>
    </tr>
    <tr>
        <td>{{marr[0].membId}}</td>
        <td>{{marr[0].membName}}</td>
        <td>{{marr[0].membLast}}</td>
        <td>{{marr[0].email}}</td>
        <td>{{marr[0].city}}</td>
        <td>{{marr[0].contactNo}}</td>
    </tr>
    <tr>
        <td>{{marr[1].membId}}</td>
        <td>{{marr[1].membName}}</td>
        <td>{{marr[1].membLast}}</td>
        <td>{{marr[1].email}}</td>
        <td>{{marr[1].city}}</td>
        <td>{{marr[1].contactNo}}</td>
    </tr>
    <tr>
        <td>{{marr[2].membId}}</td>
        <td>{{marr[2].membName}}</td>
        <td>{{marr[2].membLast}}</td>
        <td>{{marr[2].email}}</td>
        <td>{{marr[2].city}}</td>
        <td>{{marr[2].contactNo}}</td>
    </tr>
    <tr>
        <td>{{marr[3].membId}}</td>
        <td>{{marr[3].membName}}</td>
        <td>{{marr[3].membLast}}</td>
        <td>{{marr[3].email}}</td>
        <td>{{marr[3].city}}</td>
        <td>{{marr[3].contactNo}}</td>
    </tr>
    <tr>
        <td>{{marr[4].membId}}</td>
        <td>{{marr[4].membName}}</td>
        <td>{{marr[4].membLast}}</td>
        <td>{{marr[4].email}}</td>
        <td>{{marr[4].city}}</td>
        <td>{{marr[4].contactNo}}</td>
    </tr>
</table>
</div>