<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>Past Events</h1>
<div style="overflow-x:auto;">
<table style="text-align: center;">
    <tr>
        <th>Event Name</th>
        <th>Location</th>
        <th>City</th>
        <th>Date and Time</th>
    </tr>
    <tr>
        <td>{{parr[0].eveName}}</td>
        <td>{{parr[0].locat}}</td>
        <td>{{parr[0].city}}</td>
        <td>{{parr[0].date}}</td>
    </tr>
    <tr>
        <td>{{parr[1].eveName}}</td>
        <td>{{parr[1].locat}}</td>
        <td>{{parr[1].city}}</td>
        <td>{{parr[1].date}}</td>
    </tr>
    <tr>
        <td>{{parr[2].eveName}}</td>
        <td>{{parr[2].locat}}</td>
        <td>{{parr[2].city}}</td>
        <td>{{parr[2].date}}</td>
    </tr>
</table>
</div>