
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <nav>
    <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">
      	<img src='assets/logo.png' >
      </label>
      <!-- <h1> ROYAL RIDERS</h1> -->
      <ul>
    <li><p routerLink="">Home</p></li>
    <li><p routerLink="member">Members</p></li>
    <li><p routerLink="events">Events</p></li>
    <li><p routerLink="register">Register</p></li>
  </ul>
  </nav>
  <router-outlet></router-outlet>
  <div class="copy"><p>© 2021 Royal Riders Ltd. All Rights Reserved | Terms & Conditions/Policy.</p></div>